apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: free-game-claimer-env
spec:
  refreshInterval: 1m
  secretStoreRef:
    name: bitwarden-fields
    kind: ClusterSecretStore
  target:
    name: free-game-claimer-env
    creationPolicy: Owner
  data:
    - secretKey: SHOW
      remoteRef:
        key: free-game-claimer
        property: SHOW
    - secretKey: WIDTH
      remoteRef:
        key: free-game-claimer
        property: WIDTH
    - secretKey: HEIGHT
      remoteRef:
        key: free-game-claimer
        property: HEIGHT
    - secretKey: VNC_PASSWORD
      remoteRef:
        key: free-game-claimer
        property: VNC_PASSWORD
    - secretKey: NOTIFY
      remoteRef:
        key: free-game-claimer
        property: NOTIFY
    - secretKey: NOTIFY_TITLE
      remoteRef:
        key: free-game-claimer
        property: NOTIFY_TITLE
    - secretKey: BROWSER_DIR
      remoteRef:
        key: free-game-claimer
        property: BROWSER_DIR
    - secretKey: TIMEOUT
      remoteRef:
        key: free-game-claimer
        property: TIMEOUT
    - secretKey: LOGIN_TIMEOUT
      remoteRef:
        key: free-game-claimer
        property: LOGIN_TIMEOUT
    - secretKey: EMAIL
      remoteRef:
        key: free-game-claimer
        property: EMAIL
    - secretKey: PASSWORD
      remoteRef:
        key: free-game-claimer
        property: PASSWORD
    - secretKey: EG_EMAIL
      remoteRef:
        key: free-game-claimer
        property: EG_EMAIL
    - secretKey: EG_PASSWORD
      remoteRef:
        key: free-game-claimer
        property: EG_PASSWORD
    - secretKey: EG_OTPKEY
      remoteRef:
        key: free-game-claimer
        property: EG_OTPKEY
    - secretKey: EG_PARENTALPIN
      remoteRef:
        key: free-game-claimer
        property: EG_PARENTALPIN
    - secretKey: PG_EMAIL
      remoteRef:
        key: free-game-claimer
        property: PG_EMAIL
    - secretKey: PG_PASSWORD
      remoteRef:
        key: free-game-claimer
        property: PG_PASSWORD
    - secretKey: PG_OTPKEY
      remoteRef:
        key: free-game-claimer
        property: PG_OTPKEY
    - secretKey: PG_REDEEM
      remoteRef:
        key: free-game-claimer
        property: PG_REDEEM
    - secretKey: PG_CLAIMDLC
      remoteRef:
        key: free-game-claimer
        property: PG_CLAIMDLC
    - secretKey: GOG_EMAIL
      remoteRef:
        key: free-game-claimer
        property: GOG_EMAIL
    - secretKey: GOG_PASSWORD
      remoteRef:
        key: free-game-claimer
        property: GOG_PASSWORD
    - secretKey: GOG_NEWSLETTER
      remoteRef:
        key: free-game-claimer
        property: GOG_NEWSLETTER
    - secretKey: LG_EMAIL
      remoteRef:
        key: free-game-claimer
        property: LG_EMAIL
