---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: free-game-claimer
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
#  valuesFrom:
#   - kind: ConfigMap
#     name: free-game-claimer-helm-values
  values:
     #enter values here for global overrides
    controllers:
      free-game-claimer:
        type: cronjob
        cronjob:
          schedule: "2 0 * * *"
        annotations:
          reloader.stakater.com/auto: "true"
        # initContainers:
          # init-db:
            # image:
              # repository: ghcr.io/onedr0p/postgres-init
              # tag: 16
            # envFrom: &envFrom
              # - secretRef:
                  # name: radarr-secret
        containers:
          app:
            image:
              repository: ghcr.io/vogler/free-games-claimer
              tag: latest@sha256:d9847ba1f7e9c8212d2aaaf199bde424a98894440e0508e251a3e9448b30db5b
            env:
              # RADARR__APP__INSTANCENAME: Radarr
              # RADARR__APP__THEME: dark
              portNum: &port 6080
              TZ: America/New_York
            envFrom:
              - secretRef:
                  name: free-game-claimer-env
            probes:
              liveness: &probes
                enabled: false
                custom: true
                spec:
                  tcpSocket:
                    port: *port
                  initialDelaySeconds: 5
                  periodSeconds: 10
                  timeoutSeconds: 2
                  failureThreshold: 3
              readiness: *probes
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: false
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 100m
                memory: 100Mi
              limits:
                memory: 4Gi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: false
        runAsUser: 0
        runAsGroup: 0
        fsGroup: 0
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile: { type: RuntimeDefault }
    service:
      app:
        controller: free-game-claimer
        ports:
          http:
            port: *port
    ingress:
      app:
        className: internal
        #annotations:
        #  nginx.ingress.kubernetes.io/app-root: /free-game-claimer
        #  external-dns.alpha.kubernetes.io/target: "external."
        #  nginx.ingress.kubernetes.io/auth-url: "http://ak-outpost-auth-knightd.authentik.svc.cluster.local:9000/outpost.goauthentik.io/auth/nginx"
        #  nginx.ingress.kubernetes.io/auth-signin: "https://sso2./outpost.goauthentik.io/start?rd=://"
        #  nginx.ingress.kubernetes.io/auth-response-headers: "Set-Cookie,X-authentik-username,X-authentik-groups,X-authentik-entitlements,X-authentik-email,X-authentik-name,X-authentik-uid"
        #  nginx.ingress.kubernetes.io/auth-snippet: |
        #  proxy_set_header X-Forwarded-Host ;
        hosts:
          - host: "{{ .Release.Name }}.${SECRET_DOMAIN}"
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
    persistence:
      config:
        existingClaim: free-game-claimer
        globalMounts:
         - path: /fgc/data
      scripts:
         type: configMap
         name: fgc-configmap
         defaultMode: 0775
         globalMounts:
           - path: /fgc/epic-games.js
             subPath: epic-games.js
            # readOnly: true
      tmp:
        type: emptyDir
        globalMounts:
          - path: /tmp

