---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: bitwarden
spec:
  dependsOn:
    - name: external-secrets
      namespace: kube-system
  interval: 5m
  chart:
    spec:
      chart: app-template
      version: 4.2.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      interval: 5m
  values:
    controllers:
      bitwarden:
        enabled: true
        containers:
          app:
            image:
           #   repository: ghcr.io/larivierec/bitwarden-cli
              repository: ghcr.io/knightdoom/bitwarden-cli
              tag: latest@sha256:1ba500bb455b813b795103bee2525404608ccc027fe4d5fd8e2ba8e83b459f03
            envFrom:
               - secretRef:
                   name: bitwarden-cli
            probes:
              liveness:
                enabled: true
                custom: true
                spec:
                  exec:
                    command:  ["sh", "-c", "curl -X POST -s http://127.0.0.1:8087/sync | jq -e '.success == true'"]
                  timeoutSeconds: 5
              readiness:
                enabled: false
            resources:
              requests:
                memory: 256Mi
                cpu: 100m
              limits:
                memory: 512Mi
    service:
      main:
        controller: bitwarden
        ports:
          http:
            port: 8087
    persistence:
      tmp:
        type: emptyDir
        globalMounts:
          - path: /config
