# file name should use secret.sops.yaml.j2
# use below example refer to it
# env:
# - name: CF_API_TOKEN
# valueFrom:
# secretKeyRef:
# name: external-dns-secret
# key: api-token
apiVersion: v1
kind: Secret
metadata:
    name: bitwarden-cli
stringData:
    BW_CLIENTID: ENC[AES256_GCM,data:uJ3RDm7oRktm4j67JLu7H/6m+YrNMjBjcWMj5TGdtpTyKbUNwwGbJpo=,iv:AiRua6ZK1zM9R9zF5WCKTpNSMOaFndrnLhNKHvy7g/A=,tag:mZBPal5T6x4tCoCjDtsROA==,type:str]
    BW_CLIENTSECRET: ENC[AES256_GCM,data:bAp5AJxlX2wWcQddVjakmy2ud1wa011hki7pRMVN,iv:e109P3zCn9/NYxHBpAOqXqnRR3EznOHmoKmnm62QIAg=,tag:DyTsqhkA12T3CUgjz6iuxg==,type:str]
    BW_HOST: ENC[AES256_GCM,data:7UZ4tPswXJgsbh0NJw==,iv:e528E8eWMgynP+jlxxeJSGMZB9uUJFaPebF3V15VO9Y=,tag:tkJr9t8lUMIO/0dKZV51fA==,type:str]
    BW_PASSWORD: ENC[AES256_GCM,data:aWs9tqV5OnhOKXeS,iv:lKOhyzv71e4FwWr3FVZh/QkSPBxgNq8cCPl33l4KMo4=,tag:1hQE+PHrXd7OZSuysc5okQ==,type:str]
    #ENC[AES256_GCM,data:955QqRwLPf7N+phw,iv:2S7skIIPJ/RJDOJjjUS51xAPXM5Ybs+mXZc7OxJZV5A=,tag:+H5ysbRdtJjL9X+IWfLdjQ==,type:comment]
sops:
    kms: []
    gcp_kms: []
    azure_kv: []
    hc_vault: []
    age:
        - recipient: age1fwp0va68tdryz0a4rudy6m6l8rta5khqjv8kyufq5yg5ykpgduns6zhrcr
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBXeUpsUmNaVElXWHpTTnBo
            VTd5T2g2KytjbExWc2xuWUUxeXlydVF5eWhRClpocXdjMUFRWStYMFZvZlB0ZXJp
            bXJlKzFoamZnRFRKekd6WVpKU0pjalEKLS0tIG43Ky9UdTltemFMSmdldk5YODgy
            Ykhmd0FETWZFV2RyUnAwVkFaNWdaRk0K+1PzugLbGhcbwZd1fjAMwFicands/VQM
            YhB5UG4rb9KfWyoAbPp5jzMywdVq3+poaC70I/iRBlj9wAE4e9FenA==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-12-27T03:52:27Z"
    mac: ENC[AES256_GCM,data:ik+yXykMvl81SbIQgvCNDFGFitQxfAAdFmk23Jh/3H2IF6m7rwv4rdUOXe/YqLEzfIBi5Uf6V/XWwHDEO5z9FP7YPcjb+qRju3Y4S+6dN3pK6ogNm8+mu5AKYN8r30j+1eIBPV+COoFaS8Ini/pemsFFgDtKq0JBXxzrQhlNzag=,iv:vVYyLC/Ggb1AQagFt9WOZ0ZCanxFO/aB5xnJjLuw4sc=,tag:Tm04Gna4fRD3lHWyUXDWIA==,type:str]
    pgp: []
    encrypted_regex: ^(data|stringData)$
    version: 3.9.2
