# file name should use secret.sops.yaml.j2
# use below example refer to it
# env:
# - name: CF_API_TOKEN
# valueFrom:
# secretKeyRef:
# name: external-dns-secret
# key: api-token
apiVersion: v1
kind: Secret
metadata:
    name: bitwarden-cli
stringData:
    BW_CLIENTID: ENC[AES256_GCM,data:70t6R7l4I9Fim29AO7BC6aasX53gTHH8qdVuOuc/cxZx+aw+eC89QcU=,iv:+XtViKvXmytcd3LB8850h0PXCPci+0+EfoTqcw+VBuk=,tag:GfE+DD3FXk7/GoJMc2vopg==,type:str]
    BW_CLIENTSECRET: ENC[AES256_GCM,data:R2x3LcVHSBMEkk04PloNnYeRUg0pov38rL7qDv3D,iv:bNg9+TCZQkCYo67/uS9KdNzPfDKAi/kxgAN+2e0s5NA=,tag:2rKxNaO3bWJGDf+qqRPCZA==,type:str]
    BW_HOST: ENC[AES256_GCM,data:G8Of9Z3LvUUEfz+LXw==,iv:eF7zatvdXRcDUjrIdST3wlRP519Udm9L+pJsx4wCdos=,tag:WeVAOeEI850kNtQZ4r8GKg==,type:str]
    BW_PASSWORD: ENC[AES256_GCM,data:pzBhfMamZCXJuFR2,iv:TQ/Cj86p5935XFMBdktENdZwrUCGZ9AJNmV3BdjlE8w=,tag:Zgz+JmYZ1NfBUgZg04z1Sg==,type:str]
    #ENC[AES256_GCM,data:QrTM/Z2lCeRQ1uxc,iv:RRC+UUVwbMGpAw+BEjZWBjMgRgC2klzWuIgy/+C3LkE=,tag:jQLTjwbzCQz3kqqP4u+QRg==,type:comment]
sops:
    kms: []
    gcp_kms: []
    azure_kv: []
    hc_vault: []
    age:
        - recipient: age1fwp0va68tdryz0a4rudy6m6l8rta5khqjv8kyufq5yg5ykpgduns6zhrcr
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBSQlNQM3NiUnY5OG9LVWdN
            bmxwcHI0UGNDcTFnWUtTZXExQkVCeUtqQm1jClJaZU5jK09ZcjVhRFZCMEd1NER6
            RkN4U2ZtWXYwQ1ZoMXJzVzNZSmFqMFkKLS0tIHlpUmRiVVNNY2NadnIvenhsVHpq
            TUMrdkpSNWpZdDFSejVaRDhnQ3pUZVkKLZMiV5Real0VA1RSGPGSRHfdjtio34Tu
            Cwp1+5xqQbFEa/7y4376+vYRGAavAx9WEkVr9HTXDZK3+Pu4xI5l0g==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-12-27T17:12:54Z"
    mac: ENC[AES256_GCM,data:LXihEU9Y2+OuZxSxjX6Dhlh87zIfgNFYQ8kvlowZ3DJtlLTAT/CjrSuVQCENF8/3a+BQjhFy49RSK/eoLh456jHc6LHQiC+h9h3u+hdLUhvYLShChwCxoGykG90lwc8XC0vLMADYbSsGjGOgJLc8bc7y9aBHAwpHV1p8FG3dzqw=,iv:sscf1naS9+pyDj1Rj7q/NzE7unVQC2RNhHyzlTWsRbY=,tag:KUPCcKA+w6DHccMF4y+5gw==,type:str]
    pgp: []
    encrypted_regex: ^(data|stringData)$
    version: 3.9.2
