# Trash
.DS_Store
Thumbs.db
# k8s
kubeconfig
talosconfig
talosconfig-ads
.decrypted~*.yaml
.config.env
*.agekey
*.pub
*.key
# Private
.private
.bin
# Ansible
.venv*
# Taskfile
.task
# Brew
Brewfile.lock.json
# intellij
.idea
# wiki
wiki
# Bootstrap
/config.yaml
support.zip
kubernetes/apps/kube-system/external-secrets/bitwarden/do-not-uploda-test.yaml
kubernetes/apps/kube-system/external-secrets/bitwarden/do-not-upload-deployment.yaml
