# file name should use secret.sops.yaml.j2
# use below example refer to it
# env:
# - name: CF_API_TOKEN
# valueFrom:
# secretKeyRef:
# name: external-dns-secret
# key: api-token
apiVersion: v1
kind: Secret
metadata:
    name: qbit-info
stringData:
    qbitusername: ENC[AES256_GCM,data:pSrlfiY=,iv:QNaV4nnvZmLeOPFIQCMVkoCooQQt2rmSHpIiyHI8Id4=,tag:FJhDHNtnH0xyqOJABQozrw==,type:str]
    qbitpassword: ENC[AES256_GCM,data:tj85avGiGTCm,iv:dAV2xd1lJkJAtNMmVwUh3EUVReHfCDvYW8WAiTKo62o=,tag:2+c2OLZe6MfZYkEgpM78Pw==,type:str]
    nordwg: ENC[AES256_GCM,data:4ehZBoVqx0G4n7hsH9XK2/lMzwd5WYt38TIbnHhR106Z3L6oV+SzRCms0ZU=,iv:3xxnWuXLcZQ8+ZRhjCKVdSa77O522lf/XhoD0S8XfvA=,tag:lSZ01KR1wIguHieayXFOpw==,type:str]
sops:
    kms: []
    gcp_kms: []
    azure_kv: []
    hc_vault: []
    age:
        - recipient: age1fwp0va68tdryz0a4rudy6m6l8rta5khqjv8kyufq5yg5ykpgduns6zhrcr
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBmQStaajRjaW1kZ3B4MDdM
            aXBhSnZjbStDZExOaHU3L2gvOTJOZjRIQm5ZCit3bW1NN2lya2o1NTkrL1dXY0VF
            WHJaTll5ZFJsRkRSb1NDbEpqQUZ2WGcKLS0tIGFhRWt5Ny92bFViLy9RSm1aRmU5
            Q2kwb2ZmVk1EcEJtN3BNbU40c2kweGsKnzFUuslelQcrkoIiG9L3Mr4h1A68ovMj
            gMr6BeV1tSxYa3sCzRqA1NrIzBcLzF6jgeokDwzx3srzSTSXUPcInA==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-12-27T03:52:27Z"
    mac: ENC[AES256_GCM,data:AnaN0EZPeSx5BxsReqg68JJIkh49MCCM5GiKp9QgEF106LXzcadfYlTykBymyZ9GgNbfl87AE5LAuqNmglBI7qI/XIQCV/LzoztdJTT0xtwVwfTOSVgzQyFRm+/c7VHQ5KmmzjMFQdxzV86neaQzV2lPV7lKKyeX30jyFAebtXQ=,iv:6klYediitSVCyOBtM9y0csBBmHENR9GZh7LCFz7QdnU=,tag:A+QvrZu6EFDwjzctQraF9Q==,type:str]
    pgp: []
    encrypted_regex: ^(data|stringData)$
    version: 3.9.2
