# file name should use secret.sops.yaml.j2
# use below example refer to it
# env:
# - name: CF_API_TOKEN
# valueFrom:
# secretKeyRef:
# name: external-dns-secret
# key: api-token
apiVersion: v1
kind: Secret
metadata:
    name: qbit-info
stringData:
    qbitusername: ENC[AES256_GCM,data:s7EEeTA=,iv:tHxRD9GZYNbvzitZoEJAKtqGk2K7I+WNnES0GJ/4ajM=,tag:1vEUToJp2hi6m20u5vtfpQ==,type:str]
    qbitpassword: ENC[AES256_GCM,data:irYZgyMgQ91+,iv:EWAC7npSk3iR8wBo54GX7HJ6rz1Xpqztpq6WQ9ihoNc=,tag:t6Hao7vOhmzu6wZWmGD7sw==,type:str]
    nordwg: ENC[AES256_GCM,data:YzzMoNOqXbQBi7rceB7ObDK/A/EeSMbinOqDPxUjRrcWb8Rbk3dSV/nRAks=,iv:ZXeeHmNE3CTi+QtlnO0xKTL/NM3gYOeq/f3rTJw52yk=,tag:Ft6DI5LAFhlK4khWF3p4ow==,type:str]
sops:
    kms: []
    gcp_kms: []
    azure_kv: []
    hc_vault: []
    age:
        - recipient: age1fwp0va68tdryz0a4rudy6m6l8rta5khqjv8kyufq5yg5ykpgduns6zhrcr
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSB4THBkQ3lOekYvV245ZTA0
            TTYyalZNSXJmanE3WEJKMUlkMnFyRUR2Y0VBCmxZMXEwSTJ2aHJpaUJWa09UdC9n
            bHJaazhSSXNRV0VvYjBvTUI1S1Z6THMKLS0tIFc3eVplZnI0WloxS2FsQkorUjJ2
            QWZNemgzY3luclprOVZKUlRuck9GZ2sKNr84KpfdSpEtlXWx5u1agYOZlFJ59UJr
            hgtXeydIg0XfGZWIlG/lJt0edeGn/BIXoQy421u1amX2L+V2NiRPyw==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-12-27T17:12:54Z"
    mac: ENC[AES256_GCM,data:eKzxU4SoUC8TSG7c2q+w8+3j8hO9ieZmfU0Qa3ypPdnXdKOvFMc7GEhbKMItKvkLSWTc1czlnsudxsgB5oaBWVo+UbgLSoKVNaA88wReIYY1sRys4tM2+IdPeHTkfeAFX8UQzP9tpwROPw2JZy7+fHkCp09HpxYqQOyJ5ea8uTQ=,iv:pst0ZcQ3UbbfvGCZSPhQsOdvq6RsnnITNod9a0YquQA=,tag:eIhEokNlG6U480U7Jh1oQQ==,type:str]
    pgp: []
    encrypted_regex: ^(data|stringData)$
    version: 3.9.2
