# file name should use secret.sops.yaml.j2
# use below example refer to it
# env:
# - name: CF_API_TOKEN
# valueFrom:
# secretKeyRef:
# name: external-dns-secret
# key: api-token
apiVersion: v1
kind: Secret
metadata:
    name: qbit-info
stringData:
    qbitusername: ENC[AES256_GCM,data:X0j02ug=,iv:zxB6U+OoXxgXWTra2MKe+ml96VLWJ56KHZeQsvURYoA=,tag:DpzfM9pe6igcRCT61TAjzA==,type:str]
    qbitpassword: ENC[AES256_GCM,data:O2/trrkEnvNO,iv:YGbaMdE5JMNtgG22MNKYrBBaYhpCxvYgdD1ER+w4jJ4=,tag:wyMibxk3AzaIu49qEUbcUA==,type:str]
    nordwg: ENC[AES256_GCM,data:RlhqpUx15HTeTwsp4i1AKno4Mss6smsSnpgVbixLaWMBd3H4S2rnVK51GAM=,iv:meZlwME+xugyMDlixqX1lNZbWT8pvdy9ZHLunglZkyk=,tag:BBRHs3AqEkM6R3dx5BG4tw==,type:str]
sops:
    kms: []
    gcp_kms: []
    azure_kv: []
    hc_vault: []
    age:
        - recipient: age1fwp0va68tdryz0a4rudy6m6l8rta5khqjv8kyufq5yg5ykpgduns6zhrcr
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBsWktJNDZKRVhySVNSRUFj
            ajhkV3pyZzNtSk9MOHgzRlB4MmVQVW1LcldZCkx6djBldEtUV0dQZThCN21ITWl3
            aGhUditqcVJ4OVJtNm54TmlZMnYvRTQKLS0tIGNzYm9kZWdQSWpZNHArVzk2TTE3
            WDZaZUVkOXJWVkNQS0lHVUpadFBwdlUKXWCEmxlYU3tdYc2xksvOizN7zEEN9o53
            /80IfbMQZHnIEnHPn2wlIIbjZnUKyh2NgUaQiGSlHnnIDNh2AOKs+Q==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-12-28T21:20:56Z"
    mac: ENC[AES256_GCM,data:qlcCoIK9YO5G9g2KjMIBorW/Ew9KMAUmBZL0NY4xM6s5DDdwGb/TKA4QTnUNj6ho9eVy4++ttPy/Jt4Ls/L+336cLl30Y4B6q+MQNkzIXxa16SeAhc/ic7k/lIFl/WppMCtBIiRe/S5teUsdvAaD+dN3xdtijVUhAO7Jiz5u/lw=,iv:tfvteO0gmP/RG+3RaUaRhWYdN5N65OmAo2IbVzlCoq4=,tag:Z2LYRx3+hLZHUCrtJA/lGg==,type:str]
    pgp: []
    encrypted_regex: ^(data|stringData)$
    version: 3.9.2
