# file name should use secret.sops.yaml.j2
# use below example refer to it
# env:
# - name: CF_API_TOKEN
# valueFrom:
# secretKeyRef:
# name: external-dns-secret
# key: api-token
apiVersion: v1
kind: Secret
metadata:
    name: qbit-info
stringData:
    qbitusername: ENC[AES256_GCM,data:i/mBilc=,iv:6IiAuKhapHJLxH7S1EcFuNfPK61xmwDbXepCZ1Yp6kc=,tag:6IoTyVR6Yc6gcYlIyRgJvQ==,type:str]
    qbitpassword: ENC[AES256_GCM,data:xfPCL6vIxK70,iv:VK2ArY4o1ORlXDRRDGYZ4NXXdYtQPTCiTu8e+FWwH14=,tag:xV0fhS9BhafjXEURWJcAdg==,type:str]
    nordwg: ENC[AES256_GCM,data:J51Jo7B65P7uP+QbbozmscADSc58OVcNqDgcC+gRdqQPXGxkrzOqFXc5I/0=,iv:hHV8uM4IC/SEfVJB8mnjlPkY060Nqb0UB/EiROAEZDA=,tag:ayrpV0IGT/5DXXoGf6kHnQ==,type:str]
sops:
    kms: []
    gcp_kms: []
    azure_kv: []
    hc_vault: []
    age:
        - recipient: age1fwp0va68tdryz0a4rudy6m6l8rta5khqjv8kyufq5yg5ykpgduns6zhrcr
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBJSTI0OGVyRmNxdTJyRVRu
            SENKc3BvZzNOL0tCeEJtWEViZHhhajBaeVZrCjNDNzk1WGFuVDQrM2h1VGxxNDFS
            OEUvTWpHbHZmMFZqUDBPUGZ3YUpQU1kKLS0tIDlKRExYMmw2ZkJDYlMzRXNGalVi
            emZ5aWNzK1FZWE9XTUVvUXhhNzdqZ3MKyVBE/ziHA0mZXeY2vOAoHNQxi0d5DHIX
            sHDAjhBTW9mwAXOshXoK6WwpL+lYSQiv3aRIGdm3e4uwlX8SeBsrQQ==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-12-23T22:00:29Z"
    mac: ENC[AES256_GCM,data:AGfE4W1dnWYCGXXQy3TBoeF7xCFGU3qG5oohNE38s930/jkhlOpVs4Zm94YyCHS3vsxJMOUuyCHpsi6OmAUECrDzMEf/AaIzh9GZ+SLT2dZEE6Fyf4d3/L/J9odmd8gu8hgnLQ/Ig08BekoKjdbZGAduzZyRBpgsgobZYzXDEHE=,iv:foO7GWst04ySrj9XaaZ578c1Xl3qcdaVG1XLjtZMpmA=,tag:jer9cbQzx79pKRdulOiRyg==,type:str]
    pgp: []
    encrypted_regex: ^(data|stringData)$
    version: 3.11.0
