---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: zotify-music
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
     # version: 4.1.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
#  valuesFrom:
#   - kind: ConfigMap
#     name: zotify-helm-values
  values:
     #enter values here for global overrides
    controllers:
      zotify:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/knightdoom/zotify
              tag: latest@sha256:708383f293e8da1b04f06059ae0809cfc1e6c590350391bd68a437e375c55305
              pullPolicy: Always
            envFrom:
              - secretRef:
                  name: zotify-music-env
            command: ["/bin/sh","-c"]
            args: [ "sleep 10 && cp /root/.config/config/* /root/.config/zotify/ && sleep 5 && python3 -m zotify $ARGSS && sleep 36000 "]
            #command: ["sleep","3600"]
            terminationMessagePath: /dev/termination-log
            terminationMessagePolicy: File
            probes:
              liveness: &probes
                enabled: false
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: 80
                  initialDelaySeconds: 15
                  periodSeconds: 11
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            securityContext:
              allowPrivilegeEscalation: true
              readOnlyRootFilesystem: false
              capabilities: { add: ["ALL"] }
            resources:
              requests:
                cpu: 100m
                memory: 100Mi
              limits:
                memory: 4Gi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: false
        runAsUser: 0
        runAsGroup: 0
        fsGroup: 0
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile: { type: RuntimeDefault }
    service:
      app:
        controller: zotify
        ports:
          http:
            port: 80
#     ingress:
#      app:
#        className: internal

#        hosts:
 #         - host: "{{ .Release.Name }}."
  #          paths:
   #           - path: /
    #            service:
     #             identifier: app
      #            port: http
    persistence:
      tmp2:
        type: emptyDir
        globalMounts:
          - path: /root/.config/zotify/
      tmp:
        type: emptyDir
        globalMounts:
          - path: /tmp
      media:
        type: nfs
        server: 192.168.86.9
        path: /PlexLib
        globalMounts:
          - path: /root/Music
            subPath: Music
      zotify-config:
        type: persistentVolumeClaim
        existingClaim: zotify-config
        globalMounts:
          - path: /root/temp
      zotify-configmap:
          type: secret
          name: zotify-music-config
          defaultMode: 420
          items:
              - key: config.json
                path: config.json
              - key: creds.json
                path: creds.json
          globalMounts:
            - path: /root/.config/config
      zotify-downloadsurls:
          type: secret
          name: zotify-music-urls
          defaultMode: 422
          items:
              - key: downloads.txt
                path: downloads.txt
          globalMounts:
            - path: /root/.config/urls

