---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app firefly
  namespace: flux-system
spec:
  targetNamespace: finance
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  path: ./kubernetes/apps/finance/firefly/app
  prune: false
  sourceRef:
    kind: GitRepository
    name: home-kubernetes
  wait: false
  interval: 30m
  timeout: 5m
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app2 firefly-dataimporter
  namespace: flux-system
spec:
  targetNamespace: finance
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app2
  path: ./kubernetes/apps/finance/firefly/dataimporter
  dependsOn:
    - name: firefly
  prune: false
  sourceRef:
    kind: GitRepository
    name: home-kubernetes
  wait: false
  interval: 30m
  timeout: 5m
