# file name should use secret.sops.yaml.j2
# use below example refer to it
# env:
# - name: CF_API_TOKEN
# valueFrom:
# secretKeyRef:
# name: external-dns-secret
# key: api-token
apiVersion: v1
kind: Secret
metadata:
    name: hoarder-env
stringData:
    MEILI_ADDR: ENC[AES256_GCM,data:zDmdCzLyM1OIvPrQZmzNPVW5JCvning=,iv:+QETPyNVMoFd9v/DlD6DYfmifDqma9f5aSjXRxPFZWo=,tag:I1WOUb0CP+XLvnNzmlqJeA==,type:str]
    BROWSER_WEB_URL: ENC[AES256_GCM,data:/WBExYY69aJkxuKsY86pjOxt,iv:+HbSETmtpavo/fqr/eLELlTJ3COQq0pCFjrsFoMwmLo=,tag:02PtlyZtjwW1do+Njqremg==,type:str]
    OPENAI_API_KEY: ENC[AES256_GCM,data:GosnM9gSfo14UGmwqKw1HPLXG44j0Z5gMDwpRo4IYJeJNINbYDYSd6o1wh0vyCNmopPwqsj80NR1OEj+PjzXXJsnE8hoasbSEesMadj6Tw9qJ/DH1CIGg40/eU2nCBaq9OP8l8fRYK8UgizA8+njIvxia9vJzqmlaXaQYNeWaLrckhofcjtguF+YBP6hTuMkQltPQfMgv6MLqgWWM/MR8hJYiVY=,iv:FrDeawUEk62CbEUlZzHVzMTDd0Zy57WGMec9XpMqt2U=,tag:0xCZbEvw1xlr/8RmAT2oAw==,type:str]
    NEXTAUTH_SECRET: ENC[AES256_GCM,data:2z+SrxZfA3XiHHzUFlvD7TAQRS2HVwYtQW0SWIK/SzsWym2CWQVSAJtLi6Qk1y/v,iv:LB4vL0YJzcqHKWqO8pRP+43iqVRV+jFMIDeoojIp03M=,tag:OVAooLkNAHVermtTBsJeFA==,type:str]
    MEILI_MASTER_KEY: ENC[AES256_GCM,data:k/LQd9sQuZqO7UcTKN0awfVAcJ/fDFNx+a2V2P3AdSM6Lugnty3jLWZrEeOBtxPp,iv:PlE+5esNyANeMAHMbUF/YwaWuXjreyrJxRP6MWQSKV8=,tag:2Tc6QV3REaVvji4KWhe88A==,type:str]
    NEXT_PUBLIC_SECRET: ENC[AES256_GCM,data:lQkLhNA0/xrTFEVjcSAzHR/jkDNHDZsMRZkfVJfyIu4qRfWVXzJkujt83/DxgdbD,iv:rv5ImHhnoNAFtoLeSoKFIMJVWTC+c4oFxV43E05yB7Y=,tag:UImSh2S27VRb3fJzL/qbXg==,type:str]
    OAUTH_CLIENT_SECRET: ENC[AES256_GCM,data:9CBXqhm9sWweAuIw5X/6VeJaGfwKSlapn/cUpvvEhVKNkTGJ4MkbCgx1+9+mtIWzdNgDoJq0/cqBPFlSthGPexoeUVX0zTc7bdiHQeIG6892Up4nqQP7brOqO4PvJFHDtXLhHDu/WsXnBxkjKwb34q3sC9+tA4mjst2y1+8eDqw=,iv:fYz3CdDLla6NNS/uRd0okS/iByTKGvNZAhmqslu2e0s=,tag:Xu5OXMHf6M16MTfmgZGuSQ==,type:str]
    OAUTH_CLIENT_ID: ENC[AES256_GCM,data:CZSnJ3zMVoDvo5V/TbbKEIPn6POOGJ+UZgKRnXlpmcuLmcHmVaXb1Q==,iv:/hrJtemmZh41XdoumP3+22phcRNJIUE+sv6dAYxI7kM=,tag:m6PnvT6tGK1HK7xFwioOqQ==,type:str]
    OAUTH_WELLKNOWN_URL: ENC[AES256_GCM,data:w5nEpwnyw8XJZwOvZ70LL8JGwL8O2YwlziWxwTln1nX9QyN2dMtN3M5nIsB9NCH+eSeE5RNB3i129dgPnUSOiGEeumkRml1ybTUw0N3I,iv:SVVbdiJKduNu6RFoq+tGAWd8UH0f9x9WQ663L2EV7To=,tag:ixvMajfSSO6AS1BNX9Jw8A==,type:str]
    OAUTH_PROVIDER_NAME: ENC[AES256_GCM,data:yQRPtA==,iv:cZ8sPgMom3QbSTRo63pn+Q95nn1/lS5gJ3H+G5VY8Uo=,tag:B2ObdJ2iPpB1INNTtYn2Lg==,type:str]
    OAUTH_SCOPE: ENC[AES256_GCM,data:xuHSFf5MmnHKyYIrw+ez8QcAqtQ=,iv:3hzFoMwxcc+s2Sc+09tKAbBiH9jBk3kseWmKtgtdGqU=,tag:1UDdrJq7mtCPKZ9IaCWydA==,type:str]
    OAUTH_ALLOW_DANGEROUS_EMAIL_ACCOUNT_LINKING: ENC[AES256_GCM,data:kl/i1w==,iv:Uw2eg4mNWP0PgcnyUNb/sKtfVbWqxFETOCir9zdsv/I=,tag:628wMhMzuQszuytbwg2CXA==,type:str]
sops:
    kms: []
    gcp_kms: []
    azure_kv: []
    hc_vault: []
    age:
        - recipient: age1fwp0va68tdryz0a4rudy6m6l8rta5khqjv8kyufq5yg5ykpgduns6zhrcr
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBySS9qSTZBY0t3dlNYN21s
            c3haUDlYVVcxN2JVb3R0MElmYVYzcnB1K0dJCkVUOG80aUtBRkd2QXJ1SzUyeFhh
            TU1aajFnQ24rbzloNUdxcGgzc1FXdEkKLS0tIEkvRGxaUGRveFRqNXNTSW1LOUJT
            RDlxSGVPdE50Ulprd0cwQm8xd2haVFkK+PdSxzNmSYoHRBcssuKpsT/BUjiVkDRb
            Ra4sddJlvAFpdgIRSbIuTllCef+GPYtc1Db+4bbLm7bc2WHtXg1LLw==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-12-27T17:12:54Z"
    mac: ENC[AES256_GCM,data:1r791M3/6pLAhC39hroynL5lJVazQN3kEHZQlHTpcr+AoZbF8pbf0CgetAnlTFKYFO/u/xEWir0KuU8c+fkn03VXNDDQYYQmvX2CY5FVlO+dDVWb7tfGqW94IJCn2tBBmvf9P/96kdVHSg47vHgTNqnsdnnt1i7J99eSl2FDxMg=,iv:VWddjBdOIZtY2cJi2c0OqdYeaO6P+sGiyet7Yf9Wxu4=,tag:2VB2UHp2+QPGFkGJeTnjsw==,type:str]
    pgp: []
    encrypted_regex: ^(data|stringData)$
    version: 3.9.2
