# file name should use secret.sops.yaml.j2
# use below example refer to it
# env:
# - name: CF_API_TOKEN
# valueFrom:
# secretKeyRef:
# name: external-dns-secret
# key: api-token
apiVersion: v1
kind: Secret
metadata:
    name: hoarder-env
stringData:
    MEILI_ADDR: ENC[AES256_GCM,data:6LnT8CYCBdvPnZZEOMfwYMFUapt6r1g=,iv:vfB7I9vz841MVJDVOzLagvfxWV2bLEBvmQ0Q0QP+Elk=,tag:siRfBradEZXorEAU1EKrKw==,type:str]
    BROWSER_WEB_URL: ENC[AES256_GCM,data:N2sPdGLcqIk16jJ9b7mwu/8q,iv:DDJMhsh1RifbIl4VNpYR8Wax8vygYoFESJVM9a767TY=,tag:6U9Wl5Dz/2HbkZPcj0Pzsw==,type:str]
    OPENAI_API_KEY: ENC[AES256_GCM,data:WYuzVtJWyfWc5ASt/Pr6fGbeT5mLNq4XNAMfoZXXs0gOtvu52b/VNTtH6uVrTilNTF4nQnsyxT674P09Zt1QCWreJ5TmFaoM1zyUcfZK6B5+gIEOAYyOVDZcqKWXrMJeeYLcSraL/zHiR1YxNiT60ZFSArfkN8wAvqqkNNXUxz+FmcLU+RqcJUfZREDEEaXHARA7zZd7zNM2ahUaHEBttRrZg3Y=,iv:EKRvY98PTqdRkI9oy/BlTJ7UttbR0HgwENUmJt7Npi4=,tag:2oOoPhnvvi6O3SoIZUggxA==,type:str]
    NEXTAUTH_SECRET: ENC[AES256_GCM,data:d9cu4OFiBWOkmGEmluouEKmaJPF6qWaMxnBR7JAQxva0emUfaB9z08Bid4dm/hsi,iv:c9olnwnS30D1TR1udR1rZDSoqJQvk8E3trhZIWd/D5g=,tag:OFGwDM5X366fUy2fBV2HmA==,type:str]
    MEILI_MASTER_KEY: ENC[AES256_GCM,data:5MvNZn+VmIEF05VysLl8Lt7dPJrO6xUFPxcNNztUSUSmwqyEvZfXXo3+LOhd/SG8,iv:zrKiLSKjiy4WgQ/lUcLuPDTsAR/zdTdOLWeNaPgOIzw=,tag:mpuDkim/+V4DjMyspYFnoA==,type:str]
    NEXT_PUBLIC_SECRET: ENC[AES256_GCM,data:qWj0Gl/e0HaOp0k3wXYzZBRXAXTYaDuskzHvtTqyvbWWoNtcoeGYpbfIyjZlxbxz,iv:ZsaQl7DWwh1j8+9x41wmRxPc7nE3QzqU5r2rxXdqoeI=,tag:XhkbWfjRs1ViL4RwH3O2KQ==,type:str]
    OAUTH_CLIENT_SECRET: ENC[AES256_GCM,data:HxWL4uxQ+8E2bpKlPPS75qXcjfv4M96EhSiThXIFjwm/nywvaBc2pUEGZs/D43bmLcjer2LN7vagbEJhTvmQrZRZcUToQiQWxAwn2d7XHXjY8vmvbwhCOYH+0RvXTMDnqd6zKevky4NLpmXsFDay5fwoqSosUzV3B+tPJ/QX9wM=,iv:W0Ls++o9dM3RYuLknlCK6p75mhLPwwIZo38RqXq2yjs=,tag:NLR5a5NpIWwW1P1sZoG7zw==,type:str]
    OAUTH_CLIENT_ID: ENC[AES256_GCM,data:nrM50RMpoY86Joe7mKa5X0AXhlwKUBnurHAuyPlMlxRVjweDDN3AoQ==,iv:Sg2kBWmB43drXEJ/kFW6+bKGy0YS1JIC7Td4cHl0OXs=,tag:3/ZRIcfgi7xNGJbrlMjO/g==,type:str]
    OAUTH_WELLKNOWN_URL: ENC[AES256_GCM,data:ijPUSWN8LWarQS552FlzaZbP+UkcdjtFMfSq4/axwkw7hRBT0PPzKv5WQJveGN1AeRwF+4FeNnxKbQQyW9tX8TFfhQkAAPLv36Gn2n9u,iv:G3139lSiwd7to2PrqGEfaWsW05Qf+IKx0kxRJsJZKLk=,tag:VUMhkY38/wMNyLBMtrHSzQ==,type:str]
    OAUTH_PROVIDER_NAME: ENC[AES256_GCM,data:A27aIA==,iv:FFyxQt+zBknGChn1erT6q1xlFThzJnbawwcXeBYuU7c=,tag:Q1j/tN+48pqhAQy/zAla2A==,type:str]
    OAUTH_SCOPE: ENC[AES256_GCM,data:7eXpnZp0CkYC3MubHFQGJ0tjnOA=,iv:xDGR8kgaEoiCPdO2NLCpV71cYTqBEDFTQdqiGRyNZcg=,tag:i50iKX+0p9r/0zs1ncYS2A==,type:str]
    OAUTH_ALLOW_DANGEROUS_EMAIL_ACCOUNT_LINKING: ENC[AES256_GCM,data:Ce2K2A==,iv:4r3Ykned6aVW1ovIgSzOoVWWuNwN3NwHg2Ujngp3+vk=,tag:3xLshq0WofhAXM9WZjLk6w==,type:str]
sops:
    kms: []
    gcp_kms: []
    azure_kv: []
    hc_vault: []
    age:
        - recipient: age1fwp0va68tdryz0a4rudy6m6l8rta5khqjv8kyufq5yg5ykpgduns6zhrcr
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBqM1ozblByZjd5VFdMQ3Q1
            VDZnMTY1MzVvcUdsUGFjZEFKVFVYT2c5c0VVCldWSjE3R1JSNzRNVm9jNnc0dWlz
            STY1dE9zVENXbVhQR2MvTmgxK04rcmMKLS0tIFlqdlJmN0s0WUhwSFYxRG5oMVhO
            TDlybWNmdjV2b29idTBiY0FOSXhzV3cKzIL0umuhjhrrxmVh1LWFLHPPZs4u2/BH
            FxI21MsqXBskq5z6i5LoODYDBToU3EjpmVEnjJ0AGD5sI0kO15Orig==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-12-27T03:52:28Z"
    mac: ENC[AES256_GCM,data:0sKK/wW2neLdouocZWOWc02ShSIg12QSqGOamwiPFRn2uPviZetgWPU288prnyq/SiORbDcTFxgMPD51z52EvdsjxPUnYDI1en0ZxqJeG6T2HYkU1KbEY+GxZXSxRuWkVM/WZbw4nQosTqVyiDPtcdnFHTo2eUjqEIgtNbTzJoQ=,iv:3nolP25eQdfyFQifcdP5lC3EhjuFyDWoihQqpleYHWA=,tag:o7T4di+pLek/wuIHcVM4mw==,type:str]
    pgp: []
    encrypted_regex: ^(data|stringData)$
    version: 3.9.2
