# file name should use secret.sops.yaml.j2
# use below example refer to it
# env:
# - name: CF_API_TOKEN
# valueFrom:
# secretKeyRef:
# name: external-dns-secret
# key: api-token
apiVersion: v1
kind: Secret
metadata:
    name: hoarder-env
stringData:
    MEILI_ADDR: ENC[AES256_GCM,data:lPGdHtKHSNY3mkaBt2yN+WB90NZbb14=,iv:f0qToB25A7ltWQMP0sy3Yml6uwt4SA51cyoLLGmAh4w=,tag:+dVmWrpOgkqTbfqHfIVK0Q==,type:str]
    BROWSER_WEB_URL: ENC[AES256_GCM,data:mekL/rFKkXA09tJI4fGwW7EL,iv:bGb86N0/3cjlDp4iCWT0u01S5KLnZWG4nwCWlDHooPo=,tag:s/TrD7+QZkwFs6oPhTrDPw==,type:str]
    OPENAI_API_KEY: ENC[AES256_GCM,data:/jFEv5nreD7nTfP4OwmSF+LHfzY8ve3FpQiEB09wPbS8u1NNBsW6yYw3s16vOD2CYemPfkAUrAwN6pRqHP8YqTptsRfvtYFwZ9CZOyYC5p1cNpdLuFvSeSM+T9jJ7zyfrvdH2QCc47bTi5nt6mLC92UmKX3FDY7EvWHlkAT/kcanpC2qNuzkTmI/pNjEW6BYZoup88KJVig5PSjtMc8Tl14a7PI=,iv:4aTv/3hNeFEv43z1AJq+147evk2TCm8u6LFaE3d2EIM=,tag:Vx6jOR1tLvttQK6+HS0w6w==,type:str]
    NEXTAUTH_SECRET: ENC[AES256_GCM,data:n77z9iE/XtKaexDt7N9FTj7oMHPfQRD7dUCtih9RI1UwTdI6PxWTn64YGyCoezPB,iv:T0IRuwxu51mdaRSzIuAKqtkrJ/1Toj8kaq5nNz5vDsk=,tag:hp3mctFhWGOqJ/TMiRmcQA==,type:str]
    MEILI_MASTER_KEY: ENC[AES256_GCM,data:Ev3mKZ0POuMYE6AKKfYqYXyEJmnc7vfByHiI8H1+JdhkF7TZOpEamTASS5LwkBW4,iv:NebghOZLYyYSKrNmyM085Jj445I48qZJxtGRblBMum8=,tag:MW80DY2oTlTtaGjLsbqVYw==,type:str]
    NEXT_PUBLIC_SECRET: ENC[AES256_GCM,data:5Jk6XQxuQQx2zzZCBit7THXNma1xxM2jnmpzEdl2kt7cDpSWEQPqBT954qckD+dH,iv:AJUsVf9wmlMotY2S1Qd4y2J9Mm2UZWxFUWNaxh+EJDo=,tag:edk/E6+m/1Yk/2pCHELCSg==,type:str]
    OAUTH_CLIENT_SECRET: ENC[AES256_GCM,data:o3SQ801j+GMQ4029jIfV+B/L6zOGhyAGrhav4OQtMrvnCpMyZDqYVwFavGLQip236774tUw86dIbyADh8B44wo3PgQDXKy7cL8iNBiDbzHrmtROeyITtF++GKxldJpH3dxwllxjUYvKpERYdws3yJ0NNiYNwYaZwSZGTg3idzbI=,iv:WvuGtFGx3kaqwuLVjRSeUPOCUtMrmUzCq4Cu1BfPUmw=,tag:a9Xs4ntj1G/a8erzCPM1LQ==,type:str]
    OAUTH_CLIENT_ID: ENC[AES256_GCM,data:d/TJjf1j6ODDcrRJ6xEZycobRwYVC0v33AeBIfXZmVAYLOpifu1YFg==,iv:HM4bP7X2jU57XeD4tF4B6HJaZjUKLRikgdCUJhxrbbQ=,tag:yfe3+0Bq0b0q+LYmoEeXJg==,type:str]
    OAUTH_WELLKNOWN_URL: ENC[AES256_GCM,data:9moLlVDeLC5KnsKsFxe0NEWkJbDRJ7PxmeJvGXI1plRMLneZnnJ0ABcUClgNCr8kvdFhnWZcCP59EYjweN8hp+fi7Wi9eflbY4Jm3AWW,iv:JdWwxlLt4gT+qqeRFSC3yseXazd6o8fTVLzqqoj0jFU=,tag:Z2ULe8WK6w4HagA8IJI2bA==,type:str]
    OAUTH_PROVIDER_NAME: ENC[AES256_GCM,data:dYc/Ww==,iv:Ot4RlGCwrXhbX3HZd6CwrJ9FdtJ088jeatDzbnSa600=,tag:01amrT9FH5STNiJqsOHyVw==,type:str]
    OAUTH_SCOPE: ENC[AES256_GCM,data:BLgjgzNM2EIQWD/R4ABg+96qBZQ=,iv:6hXvPijErhn+aVlV39bZy2AOX+Ui/ATqe+CM0RkJSi0=,tag:0A8xeCU2WolAgCPz3q1jYw==,type:str]
    OAUTH_ALLOW_DANGEROUS_EMAIL_ACCOUNT_LINKING: ENC[AES256_GCM,data:ykvKOg==,iv:h9yVXlmJ0NOVAJQMAhPgbqTjvtalLu4wsdGu9LH4ZAU=,tag:32Yngxh+il81sXKvWtPRWg==,type:str]
sops:
    kms: []
    gcp_kms: []
    azure_kv: []
    hc_vault: []
    age:
        - recipient: age1fwp0va68tdryz0a4rudy6m6l8rta5khqjv8kyufq5yg5ykpgduns6zhrcr
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSAwc3FNaFVXVDNkMVNIVzNq
            SWd3blU4TDJZWEdKMmZYRDRjRXcraGVyVWtzCmZScFB4RnVIMlNzVlc1QnNhSnNk
            RXUrc2s5YnUzV1hoVmxaTTVLdkY2dFUKLS0tIFZQWlF6TThwcURvdXdFMkd2ZFRK
            dlU1L0YxajlETnN3VUZSanpRNXZDWncK5FduHI5Lu3QpxC8QYH3DxOcvbjiwwEAV
            hzEiaAHaZ+tq2MajIIWNJvEwevZy76uapb+0t3q0/nQL8V+4K5D48g==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-12-28T21:20:56Z"
    mac: ENC[AES256_GCM,data:U+42Q16HUd7ooGSjiTvKd/Iv1NWzHeOrONJgd4BID/Az1ZUyNJHYpTk7mmaqIlHJ1dgPNCmUacQZdEIdiu57YUK+MlynMlVd93Tb+Fv3GtUovqNEL3oHqMCGtrUYNK//2tU9+iPFF8jfO2al6T8R1yy4Ow3ymt0tn8vX/D8tZn0=,iv:15a8jYaZ/LQeM5e4uPL0Xea5DrxdKR9QvJvNkvekJUo=,tag:8jvUi3TNvUEXN9lHaApztw==,type:str]
    pgp: []
    encrypted_regex: ^(data|stringData)$
    version: 3.9.2
