machine:
  kubelet:
    extraMounts:
      - destination: /var/lib/rancher/longhorn
        type: bind
        source: /var/lib/longhorn
        options:
          - bind
          - rshared
          - rw