---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: &name firefly-aiworker-env
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: bitwarden-fields
  target:
    name: *name
    template:
      engineVersion: v2
      data:
        OPENAI_MODEL: "{{ .openaimodel }}"
        debug: "{{ .aidebug }}"
        FIREFLY_URL: "https://firefly.${SECRET_DOMAIN}"
        FIREFLY_PERSONAL_TOKEN: "{{ .fireflypat }}"
        OPENAI_API_KEY: "{{ .openaikey }}"
  data:
    - secretKey: fireflypat
      remoteRef:
        key: firefly
        property: fireflypat
    - secretKey: openai-key
      remoteRef:
        key: firefly
        property: openai-key
    - secretKey: aidebug
      remoteRef:
        key: firefly
        property: ai-debug
    - secretKey: openaimodel
      remoteRef:
        key: firefly
        property: openai-model
