apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: anythingllm-env
spec:
  refreshInterval: 1m
  secretStoreRef:
    name: bitwarden-fields
    kind: ClusterSecretStore
  target:
    name: anythingllm-env
    creationPolicy: Owner
  data:
    - secretKey: JWT_SECRET
      remoteRef:
        key: anythingllm
        property: JWT_SECRET
    - secretKey: OPENAI_API_KEY
      remoteRef:
        key: anythingllm
        property: OPENAI_API_KEY
