# file name should use secret.sops.yaml.j2
# use below example refer to it
# env:
# - name: CF_API_TOKEN
# valueFrom:
# secretKeyRef:
# name: external-dns-secret
# key: api-token
apiVersion: v1
kind: Secret
metadata:
    name: firefly-app-password
stringData:
    APP_KEY: ENC[AES256_GCM,data:HeWgEBrTvYcbgd908oWiypaLfw9bRfKvwoWWMCGmEzw=,iv:41yH2eC9crDjXufSyG5GWXm7Y+UOKMiOSdcvcGvWqjI=,tag:IEyqhR0Qa2Y5Ch2dCGH3+Q==,type:str]
    APP_PASSWORD: ENC[AES256_GCM,data:wqgqcTw8OS4O,iv:Xd+q8DtoJm1CeoPlTr3jwLQz+RvxmtcVvACat78iLmM=,tag:qZM1Yx8MJLPHz4LI/79mKA==,type:str]
    STATIC_CRON_TOKEN: ENC[AES256_GCM,data:uyO8zO5/uk8GPWGn7TxWMEhkSW7OO2cvYMmtVSVLN4E=,iv:unASTDvn+7MixcOJ1IoNY9V8//DBzAJqCxqNmDaowm4=,tag:ND9QQv9wFB2xdKca/8Qk0g==,type:str]
    #ENC[AES256_GCM,data:gSyFABgt/9H2p68JREFxzujrObokBWkX,iv:T7u6lbu/rSU1vTogEM2CxNflgsMkFfCIUZsQ7D67sxE=,tag:9zlapEAuY++iZ6CXsJbG/A==,type:comment]
sops:
    kms: []
    gcp_kms: []
    azure_kv: []
    hc_vault: []
    age:
        - recipient: age1fwp0va68tdryz0a4rudy6m6l8rta5khqjv8kyufq5yg5ykpgduns6zhrcr
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSA4RkovZ3hJZ1MxTWVrU051
            cnR1WmNQMFJpYUgydC84VXdUVGtSK05XdUFzClk1TnJrZ1EveC8wbFd1OXg5NVZB
            eHZjV0o3YThCZmJZYnc3cFNVUXdwVWsKLS0tIElvVGcxM0RkcjBKaVp5WWF3dHJs
            L2luVnMzV3dEd2wxdGZ2MjhDRDJyTHMKHyIiQw+9nIyQjtimEj/R7Lr9ATgxOVeL
            DEQPBD+i5y3o5QKjUbx8zq3KsMfaOsJKd2HHMOYNlNNJUkQ397v+EA==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-12-27T03:52:28Z"
    mac: ENC[AES256_GCM,data:HP32dk8wgk7P1+0BjO3u9H3Vwh3nXDFn3/3CDLPifrGOF6qCRRotnH848pePjb7BXTzXuyl6XxHp20C0Ij2X69V45Pc03WV+KIclrMLQL74tpDN2bwnTjAceMrJWRZH36Fia37lZV6rPDGpE7OnQx8CsnjaZ1B1yTbzsfUsiYGw=,iv:b3wXRItl4VmY7ZWcxjjDy8uqCql/QJybAcXf0vgnqTw=,tag:L69Zr7Lq5GfUZuyzxcNlRA==,type:str]
    pgp: []
    encrypted_regex: ^(data|stringData)$
    version: 3.9.2
