# file name should use secret.sops.yaml.j2
# use below example refer to it
# env:
# - name: CF_API_TOKEN
# valueFrom:
# secretKeyRef:
# name: external-dns-secret
# key: api-token
apiVersion: v1
kind: Secret
metadata:
    name: firefly-app-password
stringData:
    APP_KEY: ENC[AES256_GCM,data:kkotTysqoGwm2W+hdcQIk0CIIBy2YzEdOagpsTLvuU0=,iv:4BGqHXTRIzZY6CeAmqHWuFu3yJdk25H2bztvrpdswts=,tag:3tP0OgIIanzWeu8QruM2Rw==,type:str]
    APP_PASSWORD: ENC[AES256_GCM,data:f84cahWGR9V0,iv:2pMEUvrkDBdCzE+UlzTZffUiBkiqtH/6Ze3eUq6L4JI=,tag:d+lM8jxeOKGvg9B0Km5ynQ==,type:str]
    STATIC_CRON_TOKEN: ENC[AES256_GCM,data:QWuHSPdseC4fqDJx3r0W8CoKaXB/AScPRluXwODsvSk=,iv:AscBDvJaZKzrnOTA6EY1in7Y5kxe/pskd2WVpT08WjE=,tag:dOqxGGFq/QL39EoKNdo+0A==,type:str]
    #ENC[AES256_GCM,data:aXdjNFanQ+gt3qU/uuesytobDjwxRGMq,iv:hc26FF7zxs868OmEuQ+LvDVX8hBw42g9SDotq9LJ8GE=,tag:ooEMCUXxngQREzJzqSKxaA==,type:comment]
sops:
    kms: []
    gcp_kms: []
    azure_kv: []
    hc_vault: []
    age:
        - recipient: age1fwp0va68tdryz0a4rudy6m6l8rta5khqjv8kyufq5yg5ykpgduns6zhrcr
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBYN0pNSUFJOU1UeVJSZHYw
            UDBNdVhwRFlaUlo4UEFEM21sQ09XNTU2OVJBCmJmVjlmb2thU2VydVluRXdYb3pQ
            aitOQ2phSDFnVElEVTQ3c1YweEZHdFkKLS0tIDlJSlVDaEJ6T0RQR1czbkNqcFNK
            VG90SHFrcDFNcUl4T3YvRTQzWFFtd1EKyiA2pqjnCPcpNDTZewtEN+J/KdWR118V
            y0OOB9d8vaWPt84xz02xa+ieU5EbNYjjKKtTnBg+2qjZokRauiAWrg==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-12-28T21:20:57Z"
    mac: ENC[AES256_GCM,data:fNB5yK4Pg599bxDetP/mlV2dczKTQ04zzz2EgAb/wKX4HuNscBosFOPLMHNZ/NXQPYFHqjuKt8kz78TP9Y+IrEplDIz8UWL0oY+wyJcWKtSIAltq29P7j/rGO6NM+qGpHmyUEtw2QbyLEOkDz+DQ9HIZC227x5abSmylXBtnW1k=,iv:4qOw33D7FAPodc4hLZynNPYcLSgJng4JSJJzC2Xa/aw=,tag:G/AYezPUB7FYVMgpNGhbPQ==,type:str]
    pgp: []
    encrypted_regex: ^(data|stringData)$
    version: 3.9.2
