# file name should use secret.sops.yaml.j2
# use below example refer to it
# env:
# - name: CF_API_TOKEN
# valueFrom:
# secretKeyRef:
# name: external-dns-secret
# key: api-token
apiVersion: v1
kind: Secret
metadata:
    name: firefly-app-password
stringData:
    APP_KEY: ENC[AES256_GCM,data:BzhyNDCq4ScYU2q+IxD11NJFcJHKZ+h17lU8vlnVRk0=,iv:nwdddYF07dD3B3HeWHmoCM0UFf68cLgY0grl6+Ex1ug=,tag:71EdhWK3XDebH7LjaGTwkg==,type:str]
    APP_PASSWORD: ENC[AES256_GCM,data:p5PHx9iFUG2n,iv:+qlN+loyhLzQIL8wrY7FcWEJ9MCbeBFuGIupxq7HFqI=,tag:BNCS85VOekCALN7IDvuxjA==,type:str]
    STATIC_CRON_TOKEN: ENC[AES256_GCM,data:RhgILo2esZaPmuVN73aHpK/LTuFaOnbUirqVv7f5a6Y=,iv:gyDWQgb0SCIhsoVAPegaU92vvzz1CVIfgERKjCxiAa8=,tag:bAcXU5lWUF9EYL4jaO39XQ==,type:str]
    #ENC[AES256_GCM,data:s1JYiP8+zKua7g4MVHSlZFyF6IELKBOp,iv:mKMU5R5n5zHu59H2uwDvsf8wVfVcRLbK/RxFczmtAwQ=,tag:Bshw0w8XwPP/DLCC6ppkHw==,type:comment]
sops:
    kms: []
    gcp_kms: []
    azure_kv: []
    hc_vault: []
    age:
        - recipient: age1fwp0va68tdryz0a4rudy6m6l8rta5khqjv8kyufq5yg5ykpgduns6zhrcr
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSA5VTdEek1vRHZaWU5NQUZx
            SDdaTmhBV2t2YzdyYytKMktqQ1pwT1prYTFvCkVYeWRhdDIwNm5Ic2F2dVMxbU50
            dmpEZVBsKzIwKzhzQkJtSjZvTlhPTTgKLS0tIER3TlBma3F3cjZwOEZTcHR3Z0lT
            ekNEaEtOREJUc2owbmxGM2xWUnFObkEKR7S8wuyHD12O5V4s54Bi+y98Iw0yMQ8U
            Rbr3uY/owVfSMeCeJfV37NfdtVBvWhK+ag2GIh5tDWxBSJL7Wg4Now==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-12-27T17:12:54Z"
    mac: ENC[AES256_GCM,data:tk9wJG7SQYTyAMegua2pn3H7NnstEGbURk8EmV0l69dp8ddgh2Kn0ijL+BewSeELc4DdRmMSr/9fqvnKp2MuunLt3ETzBCr9MNIgcnqk/z8No3arBjyY1TFCaZvRQ2b7evneOZ7MUaViiAeXu4BK8FtGzlfI/sTubH/zcIkKjBY=,iv:+nvqt/XcHxZefNxBjKO6z5i8OnJhirFepDKTZwx9sP8=,tag:sFJhhN8FiDUUF9o7lt+gwg==,type:str]
    pgp: []
    encrypted_regex: ^(data|stringData)$
    version: 3.9.2
