# file name should use secret.sops.yaml.j2
# use below example refer to it
 # env:
      # - name: CF_API_TOKEN
        # valueFrom:
          # secretKeyRef:
            # name: external-dns-secret
            # key: api-token

---
apiVersion: v1
kind: Secret
metadata:
  name: qbit-info
stringData:
  qbitusername: "admin"
  qbitpassword: "#{ bootstrap_apikeys.qbitpassword }#"
  openvpn_user: "#{ bootstrap_apikeys.openvpn_user }#"
  openvpn_pass: "#{ bootstrap_apikeys.openvpn_pass }#"
  nordwg: "#{ bootstrap_apikeys.nordwg }#"
  gluetunconfig: "{\"auth\":\"basic\",\"username\":\"admin\",\"password\":\"#{ bootstrap_apikeys.gluetunconfig }#\"}"
