# file name should use secret.sops.yaml.j2
# use below example refer to it
 # env:
      # - name: CF_API_TOKEN
        # valueFrom:
          # secretKeyRef:
            # name: external-dns-secret
            # key: api-token

---
apiVersion: v1
kind: Secret
metadata:
  name: hoarder-env
stringData:
  MEILI_ADDR: "http://meilisearch:7700"
  BROWSER_WEB_URL: "http://chrome:9222"
  OPENAI_API_KEY : "#{ bootstrap_hoarder.OPENAI_API_KEY }#"
  NEXTAUTH_SECRET: "#{ bootstrap_hoarder.NEXTAUTH_SECRET }#"
  MEILI_MASTER_KEY: "#{ bootstrap_hoarder.MEILI_MASTER_KEY }#"
  NEXT_PUBLIC_SECRET: "#{ bootstrap_hoarder.NEXT_PUBLIC_SECRET }#"
  OAUTH_CLIENT_SECRET: "#{ bootstrap_hoarder.OAUTH_CLIENT_SECRET }#"
  OAUTH_CLIENT_ID: "#{ bootstrap_hoarder.OAUTH_CLIENT_ID }#"
  OAUTH_WELLKNOWN_URL: "#{ bootstrap_hoarder.OAUTH_WELLKNOWN_URL }#"
  OAUTH_PROVIDER_NAME: "#{ bootstrap_hoarder.OAUTH_PROVIDER_NAME }#"
  OAUTH_SCOPE: "#{ bootstrap_hoarder.OAUTH_SCOPE }#"
  OAUTH_ALLOW_DANGEROUS_EMAIL_ACCOUNT_LINKING: "#{ bootstrap_hoarder.OAUTH_ALLOW_DANGEROUS_EMAIL_ACCOUNT_LINKING }#"

