---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: immich-machine-learning
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
     # version: 4.1.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
#  valuesFrom:
#   - kind: ConfigMap
#     name: immich-helm-values
  values:
    controllers:
      immich-machine-learning:
        annotations:
          reloader.stakater.com/auto: "true"
        strategy: RollingUpdate
        containers:
          app:
            image:
              repository: ghcr.io/immich-app/immich-machine-learning
              tag: v2.4.1-cuda@sha256:1be78840f9f2ddffa0891b977cf78bb9787819f369aa5182dcbf2474e29156ad
            env:
              TZ: America/New_York
              MPLCONFIGDIR: /cache/matplotlib
              #% if bootstrap_plex.nvidia_enabled %#
              NVIDIA_VISIBLE_DEVICES: all
              NVIDIA_DRIVER_CAPABILITIES: compute,video,utility
              #% endif %#
            envFrom:
              - configMapRef:
                  name: immich-configmap
              - secretRef:
                  name: immich-db-secret
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /ping
                    port: &port 3003
                  initialDelaySeconds: 10
                  periodSeconds: 10
                  timeoutSeconds: 10
                  failureThreshold: 5
              readiness: *probes
              startup:
                enabled: false
            resources:
              # claims:
              #  - name: gpu
              requests:
                cpu: 10m
                memory: 100Mi
              limits:
                memory: 4000Mi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
    defaultPodOptions:
      #% if bootstrap_plex.nvidia_enabled %#
      runtimeClassName: nvidia
      #% endif %#
      #nodeSelector:
        #intel.feature.node.kubernetes.io/gpu: "true"
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        ports:
          http:
            port: *port
    persistence:
      media:
        type: nfs
        server: 192.168.86.9
        path: /BackedStorage/photos
        globalMounts:
          - path: /usr/src/app/upload
      tmpfs:
        type: emptyDir
        advancedMounts:
          immich-machine-learning:
            app:
              - path: /cache
                subPath: cache
              - path: /.cache
                subPath: dotCache
              - path: /tmp
                subPath: tmp
