# file name should use secret.sops.yaml.j2
# use below example refer to it
# env:
# - name: CF_API_TOKEN
# valueFrom:
# secretKeyRef:
# name: external-dns-secret
# key: api-token
apiVersion: v1
kind: Secret
metadata:
    name: notifiarr-app-key
stringData:
    api-token: ENC[AES256_GCM,data:kTYscoEeq0kbNcw5Fjw9r+382+dEuMy4GSRIyHM+c4GsjHPb,iv:bl5kRbvRjjXbv5so/M3ObBQP9/aUo6C2n3HnAfToVKs=,tag:cl8tIQkSTKA6t+6wCTkCVw==,type:str]
sops:
    kms: []
    gcp_kms: []
    azure_kv: []
    hc_vault: []
    age:
        - recipient: age1fwp0va68tdryz0a4rudy6m6l8rta5khqjv8kyufq5yg5ykpgduns6zhrcr
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBhb0pYR3BnZWRyNWVudy8w
            bk9jWkJ3OUlFWTFTNDVaZFU0UlNtOUNKQ2s4Cm03c1B3amJud1hpUGxuOGZzTlpr
            S3d0aG5HSXZ5ZDJoNU13WE5PUThkRWsKLS0tIG13Q2xjN2xJU05uZHdpUjJOY3lC
            YncxS0twOFVEUkt3ZWxnR0Z4YnV5c2sKYjJxtsmVYDAk0caZQFYCVAay5GyjI77Y
            Yf+kMh61vxvEqLlqtht8KwQfGc2cwNwPubJDqeT9Y19x/nneIqWRig==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-12-27T17:12:54Z"
    mac: ENC[AES256_GCM,data:QQc8ZMsXpieLVS00bEuZoTFn5mpmRc9ANpB41o+vciH/6Y/biX18tghPM5wO+srvtf5N8NMfv1XSgoGqjSLRzczKACJVwc3k5JSQRcBguHFczdtB/Q7a1yP+TryaSouNcxamCuCFpxKX8l9USJZmfD7Dv7yT6TAPJQpsOb4Jins=,iv:BSZUT+VWI9YEfKnJvCswP0twZ57rAoQSNo5ckiEif6k=,tag:BFP3gbgHKeIOipN6+6BpKg==,type:str]
    pgp: []
    encrypted_regex: ^(data|stringData)$
    version: 3.9.2
