# file name should use secret.sops.yaml.j2
# use below example refer to it
# env:
# - name: CF_API_TOKEN
# valueFrom:
# secretKeyRef:
# name: external-dns-secret
# key: api-token
apiVersion: v1
kind: Secret
metadata:
    name: notifiarr-app-key
stringData:
    api-token: ENC[AES256_GCM,data:XofGtswMA4Cy+dSzxtRarWjGrVLp3uCYHP2cxZ6l4Ixa0iDO,iv:fwc54uQl37kKePo4Bl7YWpfxGYDlahnlopwR3oaiklM=,tag:HXv+KF1znvZaA4M3zT1QVw==,type:str]
sops:
    kms: []
    gcp_kms: []
    azure_kv: []
    hc_vault: []
    age:
        - recipient: age1fwp0va68tdryz0a4rudy6m6l8rta5khqjv8kyufq5yg5ykpgduns6zhrcr
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBOUmJDUldaMS9HbEFGczFk
            OVozZzZpSzdYeGxubTZoczdvMjNJWWVRVlVNCi9DMFkwSGpDL2N3OFhtVXJnanFp
            TWs5VzNETTNacDlVakN3c3g0ZkJRbFEKLS0tIE4rNVlPWXRjY3VFTi84c2o5VFVt
            RmFQV0dnWHF0SlNpcm5aV3l4VnpWT28KiBn4dxwlmdmnr9WH5HVYdSwduB36r2EE
            OTO6VQlgpe80Vf/4oQP6nxIzSfrhxclxnaFxT6i8fGiVeFHIRL43IA==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-12-27T03:52:27Z"
    mac: ENC[AES256_GCM,data:Og51klncDzKr+JEWrvBmqE57+z55917K0NTMfbrVq1/M7iL7EzVHh2wxW8PgcOAQQfTtMKMCsOzWlWgZncvYGQcTJTpYGykSBMgs0MGeqeK+DGHOe6cHjwPiUunIJcDl2jz1G2KWZe3++EkldnLJCdemAa/GGcrDR/q+FOW4btE=,iv:JnMglqalwfY8kyF0In4TgnGX0zht35SB7NaWO5v3T34=,tag:T6bI1UpoTBw6gFD7JvNdNA==,type:str]
    pgp: []
    encrypted_regex: ^(data|stringData)$
    version: 3.9.2
