# file name should use secret.sops.yaml.j2
# use below example refer to it
 # env:
      # - name: CF_API_TOKEN
        # valueFrom:
          # secretKeyRef:
            # name: external-dns-secret
            # key: api-token
          
---
apiVersion: v1
kind: Secret
metadata:
  name: firefly-app-password
stringData:
  APP_KEY: "#{ bootstrap_firefly.app_key }#"
  APP_PASSWORD: "#{ bootstrap_firefly.app_password }#"
  STATIC_CRON_TOKEN: "#{ bootstrap_firefly.cron_token }#"
