# file name should use secret.sops.yaml.j2
# use below example refer to it
 # env:
      # - name: CF_API_TOKEN
        # valueFrom:
          # secretKeyRef:
            # name: external-dns-secret
            # key: api-token
          
---
apiVersion: v1
kind: Secret
metadata:
  name: bitwarden-cli
stringData:
  BW_CLIENTID: "#{ bootstrap_bitwarden.client_id }#"
  BW_CLIENTSECRET: "#{ bootstrap_bitwarden.client_secret }#"
  BW_HOST: "#{ bootstrap_bitwarden.host}#"
  BW_PASSWORD: "#{ bootstrap_bitwarden.password }#"
#  VC_PASSWORD: "??"
 # DEBUG: "??"