# file name should use secret.sops.yaml.j2
# use below example refer to it
 # env:
      # - name: CF_API_TOKEN
        # valueFrom:
          # secretKeyRef:
            # name: external-dns-secret
            # key: api-token
          
---
apiVersion: v1
kind: Secret
metadata:
  name: firefly_app_token
stringData:
  FIREFLY_III_ACCESS_TOKEN: "#{ bootstrap_firefly.access_token }#"
  NORDIGEN_ID: ""
  NORDIGEN_KEY: ""
  NORDIGEN_SANDBOX: "false"
  RESPOND_TO_GOCARDLESS_LIMIT: wait
  GOCARDLESS_GET_ACCOUNT_DETAILS: "false"
  GOCARDLESS_GET_BALANCE_DETAILS: "false"
  SPECTRE_APP_ID: ""
  SPECTRE_SECRET: ""
  AUTO_IMPORT_SECRET:  "#{ bootstrap_firefly.autoimportsecret }#"
  IMPORT_DIR_ALLOWLIST: "/fireflyrepo/uploads"
  